*
!.gitignore
!app/addons/twigmo/schemas/api/payments/cardgate_ideal.php
!app/functions/smarty_plugins/function.cardgate_banken.php
!app/functions/smarty_plugins/function.cardgatestatus.php
!app/payments/cardgate
!app/payments/cardgateafterpay.php
!app/payments/cardgatebancontact.php
!app/payments/cardgatebanktransfer.php
!app/payments/cardgatebillink.php
!app/payments/cardgatebitcoin.php
!app/payments/cardgatecreditcard.php
!app/payments/cardgatedirectdebit.php
!app/payments/cardgategeneric.php
!app/payments/cardgategiftcard.php
!app/payments/cardgategiropay.php
!app/payments/cardgateideal.php
!app/payments/cardgateidealqr.php
!app/payments/cardgateklarna.php
!app/payments/cardgateonlineueberweisen.php
!app/payments/cardgatepaypal.php
!app/payments/cardgatepaysafecard.php
!app/payments/cardgatepaysafecash.php
!app/payments/cardgateprzelewy24.php
!app/payments/cardgatesofortbanking.php
!app/payments/cardgatesofortpay.php
!design/backend/templates/views/orders/components/payments/cardgate_ideal.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgateafterpay.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgatebancontact.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgatebanktransfer.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgatebillink.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgatebitcoin.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgatecreditcard.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgatedirectdebit.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgategeneric.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgategiftcard.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgategiropay.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgateideal.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgateidealqr.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgateklarna.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgateonlineueberweisen.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgatepaypal.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgatepaysafecard.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgatepaysafecash.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgateprzelewy24.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgatesofortbanking.tpl
!design/backend/templates/views/payments/components/cc_processors/cardgatesofortpay.tpl
!design/themes/basic/templates/views/orders/components/payments/cardgate_ideal.tpl
!design/themes/responsive/templates/views/orders/components/payments/cardgate_ideal.tpl
!images/cardgate
!var/themes_repository/basic/templates/views/orders/components/payments/cardgate_ideal.tpl
!cardgate_install.php
!README.md
!README_DE.md
!README_NL.md